<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>CoverSetter</name>
        <version>1.0</version>
        <author>cearp,Dark_AssassinUA,Targit,Stanner</author>
        <id>KUAL-COVER-SETTER</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
